name: tests

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    # Environment variables for all steps in this job
    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/go_todo?sslmode=disable
      PORT: 8080

    # Create PostgreSQL service container
    services:
      postgres:
        image: postgres:17
        env:
          #POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_USER: postgres
          # POSTGRES_DB: go_todo
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        os: [ubuntu-latest]
        go: ['^1.24.1']

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}
        check-latest: true


    # Run your tests
    - run: make all
